{{- with pkiCert "<< vault_pki_engine >>/issue/<< cert.policy >>" 
    "common_name=<< cert.common_name >>"
{% if cert.alt_names is defined and cert.alt_names|length %}
    "alt_names=<< cert.alt_names >>"
{% endif %}
{% if cert.ip_sans is defined and cert.ip_sans|length %}
    "ip_sans=<< cert.ip_sans >>"
{% endif %}
{% if cert.ttl is defined and cert.ttl|length %}
    "ttl=<< cert.ttl >>"
{% endif %}
-}}
{{- .Data.Cert -}}
{{- .Data.CA -}}
{{- if .Key -}}
{{- .Key | writeToFile "<< cert.key_file >>" "<< cert.owner >>" "<< cert.group >>" "0640" -}}
{{- end -}}
{{- if .CA -}}
{{- .CA | writeToFile "<< cert.ca_file >>" "<< cert.owner >>" "<< cert.group >>" "0644" -}}
{{- end -}}
{{- end -}}